@model Rentacar.Models.Role

@{
    ViewData["Title"] = "Edit Role";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="card shadow-lg p-4 rounded">
    <div class="card-header bg-primary text-white text-center">
        <h1 class="mb-0">Role Düzenle</h1>
    </div>
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-3">
                <label asp-for="Ad" class="form-label">Rol Adı</label>
                <input asp-for="Ad" class="form-control" placeholder="Rol Adını Girin" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success btn-lg">
                    <i class="bi bi-save"></i> Kaydet
                </button>
                <a asp-action="Index" class="btn btn-secondary btn-lg">
                    <i class="bi bi-arrow-left"></i> Geri Dön
                </a>
            </div>
        </form>
    </div>
</div>