@model Rentacar.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Rentacar</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="col-md-4">
            <form asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Ad" class="control-label"></label>
                    <input asp-for="Ad" class="form-control" type="text" placeholder="Adınızı girin" />
                    <span asp-validation-for="Ad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" type="password" placeholder="Şifrenizi girin" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

</body>

</html>
   
@if (!string.IsNullOrEmpty(TempData["hata"]?.ToString()))
{
    <text>
        <script>
            alert(@TempData["hata"]?.ToString());
        </script>
    </text>
    TempData["hata"] = null; // hata'yı sıfırla
}