@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<div id="calendar"></div>
<hr />
<div class="timeline">
  <div class="timeline-item">
    <div class="timeline-icon bg-primary text-white">20</div>
    <div class="timeline-content">
      <h5>Rezervasyon Teslimi</h5>
      <p>2025-01-20 tarihinde saat 14:00'te teslim edilecek.</p>
    </div>
  </div>
  <div class="timeline-item">
    <div class="timeline-icon bg-warning text-white">23</div>
    <div class="timeline-content">
      <h5>Araç Bakımı</h5>
      <p>2025-01-23 - 2025-01-25 tarihleri arasında bakım yapılacak.</p>
    </div>
  </div>
</div>