@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@if (TempData["mesaj"] != null)
{
    <text>
        <script>
            alert('@TempData["mesaj"].ToString()');
        </script>
    </text>
    TempData["mesaj"] = null;
}