@{
    ViewData["Title"] = "Privacy Policy";
}
@section ozelCss {
    <link rel="stylesheet" href="~/css/deneme.css" asp-append-version="true" />
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
