html body {
    margin:0;
    padding:0;
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


.footer {
    position: fixed; /* Sayfanýn en altýnda sabit durmasý için */
    bottom: 0; /* Alt kýsmýna yapýþtýr */
    left: 0;
    width: 100%; /* Geniþliði tüm sayfayý kaplar */
    text-align: center; /* Metni ortalar */
    background-color: darkgrey; /* Ýsteðe baðlý bir arka plan rengi */
    padding: 5px 0; /* Yukarý ve aþaðý boþluk ekler */
    padding-left: 30%; /* Metni saða kaydýrýr */
    justify-content:flex-end;
    align-content:end;
    align-items:flex-end;

}








