@model Rentacar.Models.Araclar

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h1>Create</h1>

<h4>Araclar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data"> 
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Aciklama" class="control-label"></label>
                <input asp-for="Aciklama" class="form-control" />
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plaka" class="control-label"></label>
                <input asp-for="Plaka" class="form-control" />
                <span asp-validation-for="Plaka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marka" class="control-label"></label>
                <input asp-for="Marka" class="form-control" />
                <span asp-validation-for="Marka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <input asp-for="IsActive" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" type="file" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFiles" class="control-label"></label>
                <input asp-for="ImageFiles" type="file" multiple class="form-control" />
                <span asp-validation-for="ImageFiles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yakit" class="control-label"></label>
                <input asp-for="Yakit" class="form-control" />
                <span asp-validation-for="Yakit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vites" class="control-label"></label>
                <input asp-for="Vites" class="form-control" />
                <span asp-validation-for="Vites" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fiyat" class="control-label"></label>
                <input asp-for="Fiyat" class="form-control" />
                <span asp-validation-for="Fiyat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Durum" class="control-label"></label>
                <input asp-for="Durum" class="form-control" />
                <span asp-validation-for="Durum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Depozito" class="control-label"></label>
                <input asp-for="Depozito" class="form-control" />
                <span asp-validation-for="Depozito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Km" class="control-label"></label>
                <input asp-for="Km" class="form-control" />
                <span asp-validation-for="Km" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoruntulemeSayisi" class="control-label"></label>
                <input asp-for="GoruntulemeSayisi" class="form-control" />
                <span asp-validation-for="GoruntulemeSayisi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KiralanmaSayisi" class="control-label"></label>
                <input asp-for="KiralanmaSayisi" class="form-control" />
                <span asp-validation-for="KiralanmaSayisi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotorGucu" class="control-label"></label>
                <input asp-for="MotorGucu" class="form-control" />
                <span asp-validation-for="MotorGucu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YakitKm" class="control-label"></label>
                <input asp-for="YakitKm" class="form-control" />
                <span asp-validation-for="YakitKm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

